# This docker-compose.yml file is used to set up a local development environment for Odoo 19.
# It includes a PostgreSQL database and an Odoo instance with custom addons.
services:
  postgres-odoo-19:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres-odoo-19-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - odoo-19-network

  odoo-19:
    image: odoo:19.0
    depends_on:
      - postgres-odoo-19
    environment:
      - HOST=postgres-odoo-19
      - USER=${POSTGRES_USER}
      - PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "8070:8069"
    volumes:
      - odoo-19-data:/var/lib/odoo
      - ./test-addons:/mnt/extra-addons
    networks:
      - odoo-19-network

volumes:
  postgres-odoo-19-data:
  odoo-19-data:

networks:
  odoo-19-network:
