# This docker-compose.yml file is used to set up a local development environment for Odoo 19.
# It includes a PostgreSQL database and an Odoo instance with custom addons.
services:
  postgres:
    image: postgres:16
    container_name: odoo-postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-odoo_prod}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-odoo}
      - POSTGRES_USER=${POSTGRES_USER:-odoo}
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - odoo-network

  odoo-19:
    image: odoo:${ODOO_VERSION:-19.0}
    container_name: odoo-app
    depends_on:
      - postgres
    ports:
      - "${ODOO_PORT:-8070}:8069"
    environment:
      - HOST=postgres
      - USER=${POSTGRES_USER:-odoo}
      - PASSWORD=${POSTGRES_PASSWORD:-odoo}
      - ODOO_ADMIN_PASSWORD=${ODOO_ADMIN_PASSWORD:-admin}
      - ADDONS_PATH=/mnt/extra-addons
    volumes:
      - ${ADDONS_PATH:-./custom-addons}:/mnt/extra-addons
      - odoo-data:/var/lib/odoo
      - odoo-config:/etc/odoo
    restart: unless-stopped
    networks:
      - odoo-network

volumes:
  postgres-data:
    name: odoo-postgres-data
  odoo-data:
    name: odoo-app-data
  odoo-config:
    name: odoo-app-config

networks:
  odoo-network:
    name: odoo-network
    driver: bridge
